<?xml version="1.0"?>
<config>

	<modules>
		<DigitalPianism_CampaignMonitor>
			<version>0.8.0</version>
		</DigitalPianism_CampaignMonitor>
	</modules>

	<frontend>
		<routers>
			<!-- Declare frontend name -->
			<campaignmonitor>
				<use>standard</use>
				<args>
					<module>DigitalPianism_CampaignMonitor</module>
					<frontName>campaignmonitor</frontName>
				</args>
			</campaignmonitor>
		</routers>
		<!-- Frontend layout file -->
		<!--
		<layout>
            <updates>
                <campaignmonitor>
                    <file>digitalpianism/campaignmonitor.xml</file>
                </campaignmonitor>
            </updates>
        </layout>
		-->
	</frontend>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<DigitalPianism_CampaignMonitor before="Mage_Adminhtml">DigitalPianism_CampaignMonitor_Adminhtml</DigitalPianism_CampaignMonitor>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<global>

		<blocks>
			<!-- Declare module blocks -->
			<campaignmonitor>
				<class>DigitalPianism_CampaignMonitor_Block</class>
			</campaignmonitor>
		</blocks>

		<!-- Rewrite the save action of the frontend newsletter management page -->
		<rewrite>
			<digitalpianism_campaignmonitor_new>
				<from><![CDATA[#^/newsletter/subscriber#]]></from>
				<to>/campaignmonitor/hook</to>
			</digitalpianism_campaignmonitor_new>
		</rewrite>

		<helpers>
			<!-- Declare module helpers -->
			<campaignmonitor>
				<class>DigitalPianism_CampaignMonitor_Helper</class>
			</campaignmonitor>
		</helpers>

		<models>
			<!-- Declare module models -->
			<campaignmonitor>
				<class>DigitalPianism_CampaignMonitor_Model</class>
			</campaignmonitor>
			<!-- Override original checkout onepage model -->
			<checkout>
				<rewrite>
					<!-- Mage_Checkout_Model_Type_Onepage -->
					<!--<type_onepage>DigitalPianism_CampaignMonitor_Model_Checkout_Type_Onepage</type_onepage>-->
				</rewrite>
			</checkout>
		</models>

		<!-- Observer events -->
		<events>
			<customer_save_before>
				<observers>
					<digitalpianism_campaignmonitor_observer>
						<type>singleton</type>
						<class>campaignmonitor/customer_observer</class>
						<method>check_subscription_status</method>
					</digitalpianism_campaignmonitor_observer>
				</observers>
			</customer_save_before>
			<customer_delete_before>
				<observers>
					<digitalpianism_campaignmonitor_observer_2>
						<type>singleton</type>
						<class>campaignmonitor/customer_observer</class>
						<method>customer_deleted</method>
					</digitalpianism_campaignmonitor_observer_2>
				</observers>
			</customer_delete_before>
			<!-- After a customer has successfully registered -->
			<customer_register_success>
				<observers>
					<digitalpianism_campaignmonitor_observer_customer_register_success>
						<type>singleton</type>
						<class>campaignmonitor/customer_observer</class>
						<method>subscribeCustomer</method>
					</digitalpianism_campaignmonitor_observer_customer_register_success>
				</observers>
			</customer_register_success>
			<!-- TODO
			<checkout_type_onepage_save_order_after>
                <observers>
                    <subscribeCustomer>
                        <type>singleton</type>
                        <class>campaignmonitor/checkout_observer</class>
                        <method>subscribeCustomer</method>
                    </subscribeCustomer>
                </observers>
            </checkout_type_onepage_save_order_after>
			-->
		</events>

	</global>

</config>
